/*----------------------------Embedding the font-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:wght@500&display=swap');

/*----------------------------Reseting the Things-----------------------*/
* {
    padding: 0;
    margin: 0;
}

:root {
    --title-font:'Montserrat', sans-serif;
    --content-font:'Courier Prime', monospace;
}

body {
background-color: rgb(255, 253, 253);
}
/*-----------------------------Main Styling----------------------------*/

/*-----------------------------Header---------------------------------*/
.header {
    background-color: rgb(235, 235, 46);
    padding: 15px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}

.keeper-title {
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(255, 255, 255);
}
/*---------------------------Adding new Post Section--------------------*/
::placeholder {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.note-input {
    background-color: white;
    padding: 10px;
    margin: 30px auto 15px auto;
    width: 500px;
    max-height: 170px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.input {
    display: block;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 10px;
    width: 450px;
    padding: 8px;
    font-size: 1rem;
    font-weight: 800;
    font-family: var(--title-font);
    color: rgba(0, 0, 0, 0.8);

    /*for animation*/
    border: 2px solid transparent;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.input:hover {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

textarea {
    font-size: 0.8rem;
    resize: none;
}

.note-add-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    outline: none;
    border: none;
    padding: 10px;
    background-color:rgb(230, 230, 48);
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
    color: white;
}

.submit-btn-container {
    width: 460px;
    text-align: right;
    margin-top: 15px;
}


/*---------------------------------Note Section---------------------------*/
.all-note-container {
    display: flex;
    /* flex-wrap: wrap; */
}

.note-container {
    background-color: white;
    padding: 15px 20px;
    margin: 25px;
    width: 240px;
    height: auto;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.note-title {
font-size: 1.3rem;
font-weight: 500;
font-family: var(--title-font);
margin-bottom: 10px;
}

.note-content {
font-size: 1rem;
color: rgba(0, 0, 0, 0.8);
font-family: var(--content-font);
}

.delete-note-btn {
    border: none;
    outline: none;
    margin: 20px 0 0 190px;
    padding: 10px;
    background-color: transparent;
    color: red;
    cursor: pointer;
}

/*-----------------------------Footer Section------------------------------*/
.footer {
    height: 60px;
    width: 100%;
    background-color: rgba(218, 199, 199, 0.4);

    /*---------Flex-Box------------*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer-cr {
    font-family: sans-serif;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
}

/*Utility Classes*/
.center {
    margin: 20px auto 0 auto;
}

/*Responsive*/
@media screen and (min-width: 320px) and (max-width: 700px) {
    .input {
        width: 310px;
    }
    
.submit-btn-container {
    width: 340px;
}

.note-input {
    width: 340px;
}

.all-note-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

}